@font-face { font-family: "Inter"; font-style: normal; font-weight: 100; font-display: swap; src: url("./assets/fonts/Inter-Thin.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 300; font-display: swap; src: url("./assets/fonts/Inter-Light.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 400; font-display: swap; src: url("./assets/fonts/Inter-Regular.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 700; font-display: swap; src: url("./assets/fonts/Inter-Bold.woff2") format("woff2"); }

@media (min-width: 1200px) {
    .scene-player-container {
        padding-left: 5%;
        padding-right: 5%;
        flex: 0 0 calc(75%);
    }

    .VideoPlayer {
        height: 74vh;
    }

    .scene-container {
        width: 100%;

        .scene-details {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 16px;
            position: absolute;
            padding-top: 75vh;
            padding-left: 5%;
            width: 70%;
    
            .row {
                margin-left: unset;
                margin-right: unset;
                max-width: 64vw;
            }
    
            .header {
                font-size: 24px;
                margin-bottom: 0.5%;
                white-space: nowrap;
                display: flex;

                .title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 9;
                }

                .buttons {
                    flex: 3;
                    display: flex;
                    justify-content: right;
                    gap: 0.5em;

                    button {
                        &.btn.btn-primary {
                            background-color: rgba(255, 255, 255, 0.045);
                            border: unset;
                            border-radius: 20px;

                            &:hover {
                                background-color: rgba(255, 255, 255, 0.06);
                            }

                            &.wide-btn {
                                min-width: 5em;
                                
                                span.label {
                                    margin-left: 0.5em;
                                    margin-right: 0.5em;
                                }
                            }
                        }
                    }
                }
            }
    
            .description {
                padding: 1%;
                background-color: rgba(255, 255, 255, 0.045);
                border-radius: 10px;
                margin-top: 0.5em;
                margin-bottom: 0.5em;

                .tags {
                    display: flex;
                    gap: 0.5em;
                    flex-wrap: wrap;
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;

                    .tag-item {
                        margin: unset;
                    }
                }

                p {
                    &.pre {
                        width: 100%;
                        
                        img {
                            &.studio-image {
                                float: right;
                                max-width: 300px;
                            }
                        }
                    }
                }
            }
    
            .performer-list {
                display: flex;
                overflow-x: auto;
                overflow-y: hidden;

                a {
                    text-decoration: none;
                    color: unset;
                }
    
                .performer {
                    flex: 0 0 auto;
                    gap: 0.5em;
                    padding: 0.5em;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.045);
                        border-radius: 10px;
                    }
    
                    .picture {
                        img {
                            width: 50px;
                            max-width: 50px;
                            height: 50px;
                            max-height: 50px;
                            clip-path: circle();
                            object-fit: cover;
                        }
                    }
    
                    .info {
                        padding: unset;
                        padding-top: 1%;
                        align-content: center;

                        .age {
                            margin-left: 0.3em;
                            color: rgba(255, 255, 255, 0.5);
                        }
    
                        .scene-count {
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }
                }
            }
        }
    
        .side-panel {
            padding: 0.5em;
            position: absolute;
            left: 75vw;
            max-width: 20%;
            width: 20%;

            .nav-tabs {
                overflow-x: auto;
                overflow-y: hidden;
                flex-wrap: nowrap;

                .nav-item {
                    white-space: nowrap;
                    margin-bottom: 0.5em;
                }
            }

            .tab-content {
                .tab-pane {
                    .scene-list {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;

                        a {
                            color: unset;
                            text-decoration: unset;
                        }

                        .scene-item {
                            display: flex;
                            border-radius: 10px;
                            gap: 1em;
    
                            .thumbnail {
                                flex: 2;
                                height: 120px;
                                min-width: 213px;
                                width: 213px;
                                background-color: black;
                                border-radius: 10px;
    
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    object-position: center;
                                    border-radius: inherit;
                                }
                            }
    
                            .info {
                                flex: 3;
                                font-family: 'Inter', sans-serif;

                                .title {
                                    font-size: 18px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                }

                                .studio {
                                    color: rgba(255, 255, 255, 0.5);
                                    font-weight: 800;
                                }

                                .performers {
                                    color: rgba(255, 255, 255, 0.5);
                                }

                                .date {
                                    color: rgba(255, 255, 255, 0.5);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}