.external-links-button {
	.btn.link {
		width: 36px;

		img {
			width: 100%;
			height: 100%;
		}

		&.youtube {
			color: red;
		}

		&.facebook {
			color: #1877f2;
		}

		&.patreon {
			color: #f96854;
		}

		&.reddit {
			color: #ff4500;
		}

		&.telegram {
			color: #0088cc;
		}

		&.tiktok {
			color: white;
		}

		&.tumblr {
			color: #4c75a3;
		}

		&.twitch {
			color: #784ec7;
		}

		&.twitter {
			color: #1da1f2;
		}

		&.vk {
			color: #4c75a3;
		}
	}
}
