.external-links-button {
	.btn.link.youtube {
		color: red;
	}
	.btn.link.facebook {
		color: #1877f2;
	}
	.btn.link.patreon {
		color: #f96854;
	}
	.btn.link.reddit {
		color: #ff4500;
	}
	.btn.link.telegram {
		color: #0088cc;
	}
	.btn.link.tiktok {
		color: white;
	}
	.btn.link.tumblr {
		color: #4c75a3;
	}
	.btn.link.twitch {
		color: #784ec7;
	}
	.btn.link.twitter {
		color: #1da1f2;
	}
	.btn.link.vk {
		color: #4c75a3;
	}
}
